h1 {
  text-align: center;
  font-size: 60px;
  color: #ffff;
  font-family: "Dancing Script", cursive;
}
footer {
  text-align: center;
  color: #fafaf6;
  font-size: 30px;
  font-style: italic;
  font-family: "Dancing Script", cursive;
}
.name {
  color: #ff5722;
}
footer a {
  text-decoration: none;
  color: #2d897b;
}
